/* CSS for EmployeeProfile React Component */
.page-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.company-logo {
  width: 200px;
}

header {
  padding: 20px;
  background: white;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  margin: 10px;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
}

.profile-card {
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.profile-courses-heading h2 {
  font-size: 18px;
  padding-top: 10px;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #f3f4f6;
  padding: 8px;
  border: 1px solid #ccc;
}

.profile-name {
  margin: 0;
  font-size: 24px;
  color: #000;
}

.profile-details {
  padding: 20px 0;
}

.profile-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-info span {
  font-weight: bold;
}

.profile-courses-heading {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.profile-courses ul {
  list-style: none;
  padding: 0;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.course {
  width: 250px;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #000;
}

.course-info p {
  margin-bottom: 5px;
  color: #333;
}

.course-info a {
  color: #0077b5; /* LinkedIn Blue */
  text-decoration: none;
}

.course-info a:hover {
  text-decoration: underline;
}

footer {
  background-color: #00565b; /* LinkedIn Blue */
  color: #fff;
  text-align: center;
  padding: 10px;
}

.profile-icon {
  border-radius: 100%;
  border: 5px solid #eb6009;
  margin-right: 10px;
}

.error {
  color: red;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust width as needed */
  margin: 20px;
}

.email-field {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input[type="email"] {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
}

.submit-button {
  padding: 10px 15px;
  background-color: #02555a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #01a4aa;
}
